@charset "UTF-8";
@font-face {
	font-family: 'Pretendard';
	font-style: normal;
	font-display: swap;
	src: local('Pretendard Variable'), url('/resources/font/PretendardVariable.woff2') format('woff2-variations');
}

html, body {
	margin: 0;
	padding: 0;
	color: #000000;
	font-family: 'Pretendard';
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

/* 네비게이션 */
.nav_div {
	background-color: #FAFAFA;
	border: 1px solid #F2F2F2;
	width: 100%;
	height: 10%;
	position: sticky;
	bottom: 0;
	text-align: center;
}

.nav_item {
	width: 20%;
	height: 100%;
	float: left;
	text-align: center;
	display: flex;
}

.nav_link {
	cursor: pointer;
	margin: auto;
}

.nav_image {
	width: 40%;
	vertical-align: middle;
}

.nav_image[data-img-src="nav_hobbydelru"] {
	width: 80%;
	vertical-align: middle;
}

.nav_logo {
	width: 80%;
	vertical-align: middle;
}

.nav_name {
	display: block;
    font-size: 0.8em;
}












